* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.navbar {
  position: sticky;
  top: 0;
  background: white;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.middle ul li {
  list-style: none;
  font-family: cursive;
  font-size: 20px;
}
span {
  font-family: cursive;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sign ul li {
  list-style: none;
  font-family: cursive;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
}
.btn1 {
  background-image: linear-gradient(to bottom left, #c733cc, #dc458a);
  padding: 12px;
  font-size: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  color: white;
  font-family: cursive;
  font-style: italic;
  border: none;
  cursor: pointer;
}
.btn1:hover {
  background: rgb(234, 3, 3);
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}
.btn2 {
  margin-top: 15px;
  background: #d23da9;
  padding: 18px 60px;
  font-size: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  color: white;
  font-family: cursive;
  font-style: italic;
  border: none;
  cursor: pointer;
}
.btn2:hover {
  background: rgb(234, 3, 3);
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}
.heroSection {
  background: white;
  display: flex;
  align-items: center;
  padding: 15px 100px;
  justify-content: center;
}
.details {
  padding: 35px;
  margin: 35px;
}
.details h1 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 700;
  font-family: "santserret", sans-serif;
}
.details p {
  margin-bottom: 15px;
  font-size: 25px;
  font-family: cursive;
}
.heroSection img {
  margin-top: 50px;
  width: 50vw;
  height: 70vh;
}
