* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.middle ul li {
  list-style: none;
  font-family: cursive;
  font-size: 17px;
}
span {
  font-family: cursive;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sign ul li {
  list-style: none;
  font-family: cursive;
  font-size: 16px;
  font-weight: 550;
}
.btn1 {
  background: #d23da9;
  padding: 12px;
  font-size: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  color: white;
  font-family: cursive;
  font-style: italic;
  border: none;
}
.heroSection {
  background: red;
  display: flex;
  justify-content: center;
}
